Microsoft Windows [Version 10.0.19044.1826]
(c) Microsoft Corporation. All rights reserved.

C:\Users\Kiran\Downloads\Loan Approval Project\Loan Approval Project>loan.py
Traceback (most recent call last):
  File "C:\Users\Kiran\Downloads\Loan Approval Project\Loan Approval Project\loan.py", line 34, in <module>
    import numpy as np # linear algebra
ModuleNotFoundError: No module named 'numpy'

C:\Users\Kiran\Downloads\Loan Approval Project\Loan Approval Project>loan.py run
Traceback (most recent call last):
  File "C:\Users\Kiran\Downloads\Loan Approval Project\Loan Approval Project\loan.py", line 34, in <module>
    import numpy as np # linear algebra
ModuleNotFoundError: No module named 'numpy'

C:\Users\Kiran\Downloads\Loan Approval Project\Loan Approval Project>pip install numpy
Collecting numpy
  Downloading numpy-1.23.1-cp310-cp310-win_amd64.whl (14.6 MB)
     ---------------------------------------- 14.6/14.6 MB 3.1 MB/s eta 0:00:00
Installing collected packages: numpy
Successfully installed numpy-1.23.1
WARNING: You are using pip version 22.0.4; however, version 22.2 is available.
You should consider upgrading via the 'C:\Users\Kiran\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

C:\Users\Kiran\Downloads\Loan Approval Project\Loan Approval Project>python loan.py
Traceback (most recent call last):
  File "C:\Users\Kiran\Downloads\Loan Approval Project\Loan Approval Project\loan.py", line 35, in <module>
    import pandas as pd # data processing
ModuleNotFoundError: No module named 'pandas'

C:\Users\Kiran\Downloads\Loan Approval Project\Loan Approval Project>pip install pandas
Collecting pandas
  Downloading pandas-1.4.3-cp310-cp310-win_amd64.whl (10.5 MB)
     ---------------------------------------- 10.5/10.5 MB 3.5 MB/s eta 0:00:00
Collecting python-dateutil>=2.8.1
  Downloading python_dateutil-2.8.2-py2.py3-none-any.whl (247 kB)
     ---------------------------------------- 247.7/247.7 KB 3.0 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.21.0 in c:\users\kiran\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.23.1)
Collecting pytz>=2020.1
  Downloading pytz-2022.1-py2.py3-none-any.whl (503 kB)
     ---------------------------------------- 503.5/503.5 KB 2.3 MB/s eta 0:00:00
Collecting six>=1.5
  Downloading six-1.16.0-py2.py3-none-any.whl (11 kB)
Installing collected packages: pytz, six, python-dateutil, pandas
Successfully installed pandas-1.4.3 python-dateutil-2.8.2 pytz-2022.1 six-1.16.0
WARNING: You are using pip version 22.0.4; however, version 22.2 is available.
You should consider upgrading via the 'C:\Users\Kiran\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

C:\Users\Kiran\Downloads\Loan Approval Project\Loan Approval Project>python loan.py
Traceback (most recent call last):
  File "C:\Users\Kiran\Downloads\Loan Approval Project\Loan Approval Project\loan.py", line 40, in <module>
    import matplotlib.pyplot as plt
ModuleNotFoundError: No module named 'matplotlib'

C:\Users\Kiran\Downloads\Loan Approval Project\Loan Approval Project>pip install matplotlib
Collecting matplotlib
  Downloading matplotlib-3.5.2-cp310-cp310-win_amd64.whl (7.2 MB)
     ---------------------------------------- 7.2/7.2 MB 3.7 MB/s eta 0:00:00
Requirement already satisfied: pillow>=6.2.0 in c:\users\kiran\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (9.2.0)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp310-cp310-win_amd64.whl (55 kB)
     ---------------------------------------- 55.3/55.3 KB 577.2 kB/s eta 0:00:00
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\kiran\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: numpy>=1.17 in c:\users\kiran\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.23.1)
Collecting packaging>=20.0
  Downloading packaging-21.3-py3-none-any.whl (40 kB)
     ---------------------------------------- 40.8/40.8 KB 492.1 kB/s eta 0:00:00
Collecting fonttools>=4.22.0
  Downloading fonttools-4.34.4-py3-none-any.whl (944 kB)
     ---------------------------------------- 944.1/944.1 KB 4.3 MB/s eta 0:00:00
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\kiran\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: six>=1.5 in c:\users\kiran\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: packaging, kiwisolver, fonttools, cycler, matplotlib
Successfully installed cycler-0.11.0 fonttools-4.34.4 kiwisolver-1.4.4 matplotlib-3.5.2 packaging-21.3
WARNING: You are using pip version 22.0.4; however, version 22.2 is available.
You should consider upgrading via the 'C:\Users\Kiran\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

C:\Users\Kiran\Downloads\Loan Approval Project\Loan Approval Project>python loan.py
Traceback (most recent call last):
  File "C:\Users\Kiran\Downloads\Loan Approval Project\Loan Approval Project\loan.py", line 41, in <module>
    import seaborn as sns
ModuleNotFoundError: No module named 'seaborn'

C:\Users\Kiran\Downloads\Loan Approval Project\Loan Approval Project>pip install seaborn
Collecting seaborn
  Downloading seaborn-0.11.2-py3-none-any.whl (292 kB)
     ---------------------------------------- 292.8/292.8 KB 2.6 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.23 in c:\users\kiran\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.4.3)
Collecting scipy>=1.0
  Downloading scipy-1.8.1-cp310-cp310-win_amd64.whl (36.9 MB)
     ---------------------------------------- 36.9/36.9 MB 2.6 MB/s eta 0:00:00
Requirement already satisfied: matplotlib>=2.2 in c:\users\kiran\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (3.5.2)
Requirement already satisfied: numpy>=1.15 in c:\users\kiran\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.23.1)
Requirement already satisfied: cycler>=0.10 in c:\users\kiran\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\kiran\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (9.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\kiran\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (1.4.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\kiran\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: packaging>=20.0 in c:\users\kiran\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\kiran\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (4.34.4)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\kiran\appdata\local\programs\python\python310\lib\site-packages (from matplotlib>=2.2->seaborn) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in c:\users\kiran\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.23->seaborn) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\kiran\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)
Installing collected packages: scipy, seaborn
Successfully installed scipy-1.8.1 seaborn-0.11.2
WARNING: You are using pip version 22.0.4; however, version 22.2 is available.
You should consider upgrading via the 'C:\Users\Kiran\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

C:\Users\Kiran\Downloads\Loan Approval Project\Loan Approval Project>python loan.py
Traceback (most recent call last):
  File "C:\Users\Kiran\Downloads\Loan Approval Project\Loan Approval Project\loan.py", line 44, in <module>
    from sklearn.preprocessing import LabelEncoder
ModuleNotFoundError: No module named 'sklearn'

C:\Users\Kiran\Downloads\Loan Approval Project\Loan Approval Project>pip install sklearn
Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Collecting scikit-learn
  Downloading scikit_learn-1.1.1-cp310-cp310-win_amd64.whl (7.3 MB)
     ---------------------------------------- 7.3/7.3 MB 3.6 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17.3 in c:\users\kiran\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn->sklearn) (1.23.1)
Collecting joblib>=1.0.0
  Downloading joblib-1.1.0-py2.py3-none-any.whl (306 kB)
     ---------------------------------------- 307.0/307.0 KB 2.4 MB/s eta 0:00:00
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: scipy>=1.3.2 in c:\users\kiran\appdata\local\programs\python\python310\lib\site-packages (from scikit-learn->sklearn) (1.8.1)
Using legacy 'setup.py install' for sklearn, since package 'wheel' is not installed.
Installing collected packages: threadpoolctl, joblib, scikit-learn, sklearn
  Running setup.py install for sklearn ... done
Successfully installed joblib-1.1.0 scikit-learn-1.1.1 sklearn-0.0 threadpoolctl-3.1.0
WARNING: You are using pip version 22.0.4; however, version 22.2 is available.
You should consider upgrading via the 'C:\Users\Kiran\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

C:\Users\Kiran\Downloads\Loan Approval Project\Loan Approval Project>python loan.py
Traceback (most recent call last):
  File "C:\Users\Kiran\Downloads\Loan Approval Project\Loan Approval Project\loan.py", line 51, in <module>
    from xgboost import XGBClassifier
ModuleNotFoundError: No module named 'xgboost'

C:\Users\Kiran\Downloads\Loan Approval Project\Loan Approval Project>pip install xgboost
Collecting xgboost
  Downloading xgboost-1.6.1-py3-none-win_amd64.whl (125.4 MB)
     ---------------------------------------- 125.4/125.4 MB 722.4 kB/s eta 0:00:00
Requirement already satisfied: numpy in c:\users\kiran\appdata\local\programs\python\python310\lib\site-packages (from xgboost) (1.23.1)
Requirement already satisfied: scipy in c:\users\kiran\appdata\local\programs\python\python310\lib\site-packages (from xgboost) (1.8.1)
Installing collected packages: xgboost
Successfully installed xgboost-1.6.1
WARNING: You are using pip version 22.0.4; however, version 22.2 is available.
You should consider upgrading via the 'C:\Users\Kiran\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

C:\Users\Kiran\Downloads\Loan Approval Project\Loan Approval Project>python loan.py
Traceback (most recent call last):
  File "C:\Users\Kiran\Downloads\Loan Approval Project\Loan Approval Project\loan.py", line 86, in <module>
    tr_df = pd.read_csv(tr_path)
  File "C:\Users\Kiran\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\util\_decorators.py", line 311, in wrapper
    return func(*args, **kwargs)
  File "C:\Users\Kiran\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\parsers\readers.py", line 680, in read_csv
    return _read(filepath_or_buffer, kwds)
  File "C:\Users\Kiran\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\parsers\readers.py", line 575, in _read
    parser = TextFileReader(filepath_or_buffer, **kwds)
  File "C:\Users\Kiran\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\parsers\readers.py", line 934, in __init__
    self._engine = self._make_engine(f, self.engine)
  File "C:\Users\Kiran\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\parsers\readers.py", line 1218, in _make_engine
    self.handles = get_handle(  # type: ignore[call-overload]
  File "C:\Users\Kiran\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\common.py", line 786, in get_handle
    handle = open(
FileNotFoundError: [Errno 2] No such file or directory: '/kaggle/input/loan-prediction-problem-dataset/train_u6lujuX_CVtuZ9i.csv'

C:\Users\Kiran\Downloads\Loan Approval Project\Loan Approval Project>python loan.py
training set (row, col): (614, 13)

testing set (row, col): (367, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB
training set (row, col): (614, 12)

testing set (row, col): (367, 11)
Before filling missing values

 ##################################################

Credit_History:
1.0    475
0.0     89
Name: Credit_History, dtype: int64
 --------------------------------------------------
Self_Employed:
No     500
Yes     82
Name: Self_Employed, dtype: int64
 --------------------------------------------------
LoanAmount:
120.0    20
110.0    17
100.0    15
160.0    12
187.0    12
         ..
240.0     1
214.0     1
59.0      1
166.0     1
253.0     1
Name: LoanAmount, Length: 203, dtype: int64
 --------------------------------------------------
Dependents:
0     345
1     102
2     101
3+     51
Name: Dependents, dtype: int64
 --------------------------------------------------
Loan_Amount_Term:
360.0    512
180.0     44
480.0     15
300.0     13
240.0      4
84.0       4
120.0      3
60.0       2
36.0       2
12.0       1
Name: Loan_Amount_Term, dtype: int64
 --------------------------------------------------
Gender:
Male      489
Female    112
Name: Gender, dtype: int64
 --------------------------------------------------
Married:
Yes    398
No     213
Name: Married, dtype: int64
 --------------------------------------------------
After filling missing values

 ##################################################


Credit_History:
1.0    525
0.0     89
Name: Credit_History, dtype: int64
 --------------------------------------------------

Self_Employed:
No     532
Yes     82
Name: Self_Employed, dtype: int64
 --------------------------------------------------

LoanAmount:
120.0    42
110.0    17
100.0    15
160.0    12
187.0    12
         ..
240.0     1
214.0     1
59.0      1
166.0     1
253.0     1
Name: LoanAmount, Length: 203, dtype: int64
 --------------------------------------------------

Dependents:
0     360
1     102
2     101
3+     51
Name: Dependents, dtype: int64
 --------------------------------------------------

Loan_Amount_Term:
360.0    526
180.0     44
480.0     15
300.0     13
240.0      4
84.0       4
120.0      3
60.0       2
36.0       2
12.0       1
Name: Loan_Amount_Term, dtype: int64
 --------------------------------------------------

Gender:
Male      502
Female    112
Name: Gender, dtype: int64
 --------------------------------------------------

Married:
Yes    401
No     213
Name: Married, dtype: int64
 --------------------------------------------------
Y    422
N    192
Name: Loan_Status, dtype: int64
training set (row, col): (614, 12)

testing set (row, col): (367, 11)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             614 non-null    int64
 1   Married            614 non-null    int64
 2   Education          614 non-null    int64
 3   Self_Employed      614 non-null    int64
 4   ApplicantIncome    614 non-null    int64
 5   CoapplicantIncome  614 non-null    float64
 6   LoanAmount         614 non-null    float64
 7   Loan_Amount_Term   614 non-null    float64
 8   Credit_History     614 non-null    float64
 9   Property_Area      614 non-null    int64
 10  Loan_Status        614 non-null    int64
 11  Dependents         614 non-null    int64
dtypes: float64(4), int64(8)
memory usage: 57.7 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             356 non-null    float64
 1   Married            367 non-null    int64
 2   Education          367 non-null    int64
 3   Self_Employed      344 non-null    float64
 4   ApplicantIncome    367 non-null    int64
 5   CoapplicantIncome  367 non-null    int64
 6   LoanAmount         362 non-null    float64
 7   Loan_Amount_Term   361 non-null    float64
 8   Credit_History     338 non-null    float64
 9   Property_Area      367 non-null    int64
 10  Dependents         357 non-null    float64
dtypes: float64(6), int64(5)
memory usage: 31.7 KB
None

 None
Traceback (most recent call last):
  File "C:\Users\Kiran\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\compat\_optional.py", line 138, in import_optional_dependency
    module = importlib.import_module(name)
  File "C:\Users\Kiran\AppData\Local\Programs\Python\Python310\lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1050, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1027, in _find_and_load
  File "<frozen importlib._bootstrap>", line 1004, in _find_and_load_unlocked
ModuleNotFoundError: No module named 'jinja2'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Kiran\Downloads\Loan Approval Project\Loan Approval Project\loan.py", line 260, in <module>
    corr.style.background_gradient(cmap='coolwarm').set_precision(2)
  File "C:\Users\Kiran\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\frame.py", line 1212, in style
    from pandas.io.formats.style import Styler
  File "C:\Users\Kiran\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\formats\style.py", line 52, in <module>
    jinja2 = import_optional_dependency("jinja2", extra="DataFrame.style requires jinja2.")
  File "C:\Users\Kiran\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\compat\_optional.py", line 141, in import_optional_dependency
    raise ImportError(msg)
ImportError: Missing optional dependency 'Jinja2'. DataFrame.style requires jinja2. Use pip or conda to install Jinja2.

C:\Users\Kiran\Downloads\Loan Approval Project\Loan Approval Project>python loan.py
training set (row, col): (614, 13)

testing set (row, col): (367, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB
training set (row, col): (614, 12)

testing set (row, col): (367, 11)
Before filling missing values

 ##################################################

Credit_History:
1.0    475
0.0     89
Name: Credit_History, dtype: int64
 --------------------------------------------------
Self_Employed:
No     500
Yes     82
Name: Self_Employed, dtype: int64
 --------------------------------------------------
LoanAmount:
120.0    20
110.0    17
100.0    15
160.0    12
187.0    12
         ..
240.0     1
214.0     1
59.0      1
166.0     1
253.0     1
Name: LoanAmount, Length: 203, dtype: int64
 --------------------------------------------------
Dependents:
0     345
1     102
2     101
3+     51
Name: Dependents, dtype: int64
 --------------------------------------------------
Loan_Amount_Term:
360.0    512
180.0     44
480.0     15
300.0     13
240.0      4
84.0       4
120.0      3
60.0       2
36.0       2
12.0       1
Name: Loan_Amount_Term, dtype: int64
 --------------------------------------------------
Gender:
Male      489
Female    112
Name: Gender, dtype: int64
 --------------------------------------------------
Married:
Yes    398
No     213
Name: Married, dtype: int64
 --------------------------------------------------
After filling missing values

 ##################################################


Credit_History:
1.0    525
0.0     89
Name: Credit_History, dtype: int64
 --------------------------------------------------

Self_Employed:
No     532
Yes     82
Name: Self_Employed, dtype: int64
 --------------------------------------------------

LoanAmount:
120.0    42
110.0    17
100.0    15
160.0    12
187.0    12
         ..
240.0     1
214.0     1
59.0      1
166.0     1
253.0     1
Name: LoanAmount, Length: 203, dtype: int64
 --------------------------------------------------

Dependents:
0     360
1     102
2     101
3+     51
Name: Dependents, dtype: int64
 --------------------------------------------------

Loan_Amount_Term:
360.0    526
180.0     44
480.0     15
300.0     13
240.0      4
84.0       4
120.0      3
60.0       2
36.0       2
12.0       1
Name: Loan_Amount_Term, dtype: int64
 --------------------------------------------------

Gender:
Male      502
Female    112
Name: Gender, dtype: int64
 --------------------------------------------------

Married:
Yes    401
No     213
Name: Married, dtype: int64
 --------------------------------------------------
Y    422
N    192
Name: Loan_Status, dtype: int64
